{% extends "index.html" %}

{% block title -%}
<title>{{page.title}} | {{config.title}}</title>
<meta property="og:title" content="{{page.title}} | {{config.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{%- endblock title %}

{% block content -%}
<article>

    <header>
        <h1>{{ page.title }}</h1>
        <div class="c-time">
          {{ page.reading_time }} min read
        </div>
    </header>

    <section>
        {{ page.content | safe }}
    </section>

    <footer>
      <div class="c-time">
        <time>{{ page.date | date(format="%B %Y") }}</time>
      </div>
    </footer>

</article>

<script>
if (location.search.match(/\beditor=/)) {
  var js = document.createElement('script');
  js.src = "{{ get_url(path="js/editor.js") | safe }}";
  document.body.appendChild(js);
}
</script>
{%- endblock content %}
